@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Orbitron&family=Space+Mono:ital@1&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-weight: 10;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(7, 245, 250, 1) 51%,
    rgba(9, 9, 121, 1) 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(7, 245, 250, 1) 51%,
    rgba(9, 9, 121, 1) 81%
  );
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(7, 245, 250, 1) 51%,
    rgba(9, 9, 121, 1) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#090979",GradientType=1);
  /* background: linear-gradient(to right, #00aaff, #00ff6c); */
}

.calculator-grid {
  display: grid;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.span-two {
  grid-column: span 2;
}

.screen {
  grid-column: 1/-1;
}
